@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: Poppins;
}

/* common css */

.carousel-img {
    height: 89vh;
}

.carousel-info h1 {
    font-weight: 600;
    /* font-size: 48px; */
    line-height: 58px;
    text-align: center;
    color: #FFFFF0;
}

.carousel-info p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.carousel-info .book-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-info a {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    width: 168px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 5px;
}

/* header section*/

.custom-card {
    width: 232px;
    height: 387px;
}

.fa-check-circle {
    color: #5243C2;
}

.custom-card h1,
.package-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #231D4F;
}

.custom-card h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #231D4F;
}

.custom-card p {
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}

.card-btn {
    display: block;
    background: #f3eaf0;
    height: 45px;
    width: 207px;
    border-radius: 24px;

    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3F87F5;
}

.custom-card-focus {
    background: orange;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    position: relative;
    bottom: 20px;
}

.best-sell-badge span {
    position: absolute;
    right: 30px;
    top: -10px;
    display: block;
    height: 25px;
    color: black;
}

.custom-card-focus p,
.custom-card-focus h1,
.custom-card-focus h3 {
    color: #0B0D17;
}

/* package section */

footer {
    overflow: hidden;
}

.footer-content {
    height: 280px;
    background: #0B0D17;
    color: #D9DBE1;
    overflow: hidden;
}

.footer-content p {
    font-size: 14px;
    line-height: 24px;
}

.footer-content h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

/* footer section */